<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0GEDC5RTJ9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-0GEDC5RTJ9");
  </script>

  <!-- Clarity (clarity.js) - Microsoft analytics -->
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "93jfa0ufr9");
  </script>

  <!-- Title and Icon -->

  <title>LiiskaPro</title>
  <link rel="shortcut icon" href="../images/najm.png" />
  <link rel="apple-touch-icon" href="../images/najm.png" />

  <!-- Meta Information -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Liiska. Powerful ~ Fast ~ Easy to use ~ Secure." />
  <meta name="keywords"
    content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, Proeo meeting, Proeo chat, Proeo conference, multi Proeo chat, multi Proeo conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting" />

  <!-- https://ogp.me -->

  <!-- Primary Meta Tags -->
    <title>LiiskaPro</title>
    <meta name="title" content="Proeolify">
    <meta name="description" content="Click the link to feel the power of the new revolution~!!">
    <meta name="keywords"
      content="webrtc, webrtc stun, webrtc turn, Proeo meeting, Proeo chat, multi Proeo chat, peer to peer, p2p, zoom" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://Proeolify.up.railway.app/">
    <meta property="og:title" content="Proeolify">
    <meta property="og:description" content="Click the link to feel the power of the new revolution~!!">
    <meta property="og:image" content="https://Proeolify.up.railway.app/images/preview.png">
    <meta name="keywords"
      content="webrtc, webrtc stun, webrtc turn, Proeo meeting, Proeo chat, multi Proeo chat, peer to peer, p2p, zoom" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://Proeolify.up.railway.app/">
    <meta property="twitter:title" content="Proeolify">
    <meta property="twitter:description" content="Click the link to feel the power of the new revolution~!!">
    <meta property="twitter:image" content="../images/preview.png">
    <meta name="keywords"
      content="webrtc, webrtc stun, webrtc turn, Proeo meeting, Proeo chat, multi Proeo chat, peer to peer, p2p, zoom" />

    <!-- StyleSheet -->

    <link rel="stylesheet" href="../css/landing.css" />
    <link rel="stylesheet" href="../css/newcall.css" />
</head>

<body class="has-animations">
  <div class="body-wrap">
    <header class="site-header reveal-from-top">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand">
          
          </div>
        </div>
      </div>
    </header>
    <main class="site-content">
      <section class="hero section illustration-section-01">
        <div class="container">
          <div class="hero-inner section-inner">
            <div class="split-wrap invert-mobile">
              <div class="split-item">
                <div class="
                      hero-content
                      split-item-content
                      center-content-mobile
                    ">
                
                </div>
                <style>
                  @media (min-width: 641px) {
                    .hero .split-wrap .split-item {
                      min-height: 492px;
                    }
                  }
                </style>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cta section center-content-mobile reveal-from-bottom">
        <div class="container" >
          <div class="cta-inner section-inner cta-split" style="background: linear-gradient(to right,#0B32BB, #ff9633);"> 
            <div class="cta-slogan">
              <h3 class="m-0">
               Choose your room name.<br />
               
              </h3>
            </div>
            <div class="cta-action">
              <div class="mb-24">
                <label class="form-label screen-reader" for="roomName">Liiska Pro</label>
                <div class="form-group-desktop">
                  <input class="form-input" type="text" id="roomName" value="Proeolify" />
                  <button class="button button-primary pulse" style="border-radius:24px"
                    onclick="{window.location.href = '/join/' + document.getElementById('roomName').value}">
                    Join room
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer center-content-mobile">
      <div class="container">
        <div class="site-footer-inner">
          <div class="footer-top space-between text-xxs">
           

            </div>
          </div>
          <div class="footer-bottom space-between text-xxs invert-order-desktop">
            <nav class="footer-nav">
              <ul class="list-reset">
                <li>
                  <a target="_blank" href="/privacy">Privacy Policy</a>
                     Property of IFTIIN Technologies
                </li>
              </ul>
            </nav>
          
            </br>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script defer src="../js/landing.js"></script>
  <script defer src="../js/newroom.js"></script>
  <script defer src="../js/screen.js"></script>
</body>

</html>